.pink {
  background-color: var(--blink-color);
}

.sequencer,
.sequencer-notes,
.sequencer-time {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.mouse-values {
  margin: 16px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.8rem;
}

.controls {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 320px;
  display: none;
  flex-direction: column;
  background-color: white;
  margin: 16px;
  padding: 16px;
  border: 1px solid black;
  border-radius: 4px;
}

.controls *:not(label) {
  margin: 4px 0px;
}

.controls.active {
  display: flex;
}

.buttons {
  width: 320px;
  display: flex;
  justify-content: center;
  margin: 16px;
}

.buttons button {
  margin: 4px;
}

.step {
  cursor: pointer;
  margin: 4px;
  width: var(--sequence-item-size);
  height: var(--sequence-item-size);
  border-radius: 4px;
  border: 1px solid grey;
}

.time-marker {
  margin: 4px;
  height: 8px;
  width: var(--sequence-item-size);
  border: 1px solid grey;
}

.step.active {
  border: 2px solid black;
}

.sequencer-notes select {
  margin: 4px;
  width: var(--sequence-item-size);
}

@media only screen and (max-width: 400px) {
  .sequencer,
  .sequencer-notes,
  .sequencer-time {
    width: 192px;
  }
  .mouse-values {
    display: none;
  }
}
